/* *{
    background-color: black;
    color: white;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    }
    
    body {
    background-color: black;
    color: #ffffff;
    }
    
    .left {
    width: 25vw;
}

.upper-left-box {
    padding: 20px;
    min-height: 19vh;
    padding: 10px;

}

.lower-left-box {
    min-height: 75vh;
    position: relative;
}

.left {
    width: 25vw;
}

.left li {
    padding-top: 15px;
    font-size: 16px;
    gap: 15px;
    display: flex;
    width: 20px;
    list-style: none;
}

.heading {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    font-size: 12px;
    /* justify-content: space-between; */
}

.heading img {
    width: 30px;
}
.songlist {
    color: rgb(255, 127, 127);
    display: inline; /* This can be removed if not needed */
}

.songlist ul li {
    display: inline-block;
    list-style-type: decimal;
    margin-right: 10px; /* Adjust spacing as needed */
}


/* .heading h2 { 
    justify-content: left;
} */

.footer {
    display: flex;
    color: grey;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px;
    flex-wrap: wrap;
}

.footer a {
    color: grey
}

.right {
    width: 75vw;
    position: relative;
}

.header {
    background-color: rgb(32, 31, 31);
    display: flex;
    justify-content: space-between;
}

.header>* {
    padding: 20px;
}
.signup-btn{
    cursor: pointer;
    border: none;
    background-color:transparent;
    color: rgb(166,166,166);
    font-size: 1.1rem;

}
.signup-btn:hover{
    transition: 0.7s ease-in;
    color: #ffffff;
}
.login-btn{
    cursor: pointer;
    margin-inline: 10px;
    /* box-sizing: border-box; */
    padding: 5px 17px;
    border-radius: 40px;
    font-size: 1.1rem;
    border: none;
}

.login-btn:hover{
    transition: 0.7s ease-in;
    background-color: rgba(209, 243, 203, 0.503);
}


.spotify-playlist {
    /* padding: 200px; */
    padding: 16px;
}

.spotify-playlist .card {
    position: relative;
    background-color: rgb(32, 31, 31);
    text-align: center;
    width: 200px;
    /* border: 2px solid rgb(244, 244, 244); */
    padding: 5px;
    /* background-repeat: 5px; */
    height: fit-content;
}

.card img {
    /* padding-top: -200px; */
    /* border-radius: 50%; */
    /* padding: 50px; */
    width: 100%;
    object-fit:contain;
}

.cardContainer {
    max-height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
    max-height: fit-content;
    display: flex;
    gap: 10px;
    /* margin: 20px; */
    flex-wrap: wrap;
}

.card > *{
    /* position: relative; */
    padding-top: 5px;
}

.card h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    /* overflow: hidden; */
}

.play{
    /* bottom: 50px; */
    top: 165px;
    right:4px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-out;
    opacity: 0;
}

.card:hover .play{
    top: 157px;
    opacity: 1;
}

.playbar{
    position: absolute;
    bottom: 0;
    width: 96%;
    height: 6%;
    opacity:0.8;
    display: flex;
    gap: 1.1rem;
    justify-content:center;
    align-items: center;
}

.playbar svg{
    cursor: pointer;
}